/* Styles for Gozilla Site */

* {
  font-family: "Protest Revolution", sans-serif;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  font-style: normal;
  background-color: black;
  color: white;
}

.container {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  gap: 2em;
}

.container-topbar {
  margin-top: 1em;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.container-title {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.5em;
}

.container-title2 {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.9em;
}

.card {
  padding: 1.5em;
  box-shadow: 1px 2px 0 rgba(1, 0, 0, 0.05);
  border: 1px solid red;
  border-radius: 0.3em;
  width: 350px;
  height: 480px;
}

.img-card {
  object-fit: cover;
  aspect-ratio: 50/50;
  width: 100%;
  height: 50%;
  border-radius: 0.05em;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-weight: 700;
  font-size: 2em;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

a:active {
  color: red;
}

a:hover {
  color: red;
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.flex {
  display: flex;
}

.sticky {
  position: sticky;
  margin-top: 3em;
  margin-bottom: 3em;
}

.text-sm {
  font-size: 1.275rem;
  margin: 1em;
  font-weight: 1000;
}

h1 {
  font-weight: 50;
  font-size: 3em;
}

h2 {
  font-weight: 50;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p {
  margin: 0;
}



.img-card {
  display: flex;
  aspect-ratio: 50/50;
  width: 100%;
  height: 40%;
}

.pick-form {
  margin: 1em;
}

.submit-form {
  margin: 1em;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em;
  justify-content: center;
}

@media only screen and (max-width:600px) {
  body {
    background-color: darkblue;
  }

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.topbar{
  display: flex;
  align-items: center;
  margin: 1em;
  position: sticky;
  top: 0;
} */
